<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Uygulama N2Mobil</title>
</head>
<body>
                {% if messages %}
                <ul class="messages">
                      {% for message in messages %}
                           <div class="alert alert-success" role="alert">
                           <h4 class="alert-heading">{{ message }}</h4>

                           </div>

                       {% endfor %}
                </ul>
                {% endif %}



     <div style="margin-top: 150px" class="container">
         <h3>N2Mobil</h3>
         <hr>
         <form  action="arama" method="post">
             {% csrf_token  %}


            <div class="form-group">
            <input type="text" name="arama" class="form-control" id="formGroupExampleInput" placeholder="Aranacak veriyi girin">
            </div>
             <button type="submit" class="btn btn-info">Arama</button>
          </form>


         <hr>
         <form id="form_ekle">
             {% csrf_token  %}
            <div class="form-group">
            <label for="formGroupExampleInput">Kitap</label>
            <input type="text" name="kitapAdi" class="form-control" id="formGroupExampleInput" placeholder="Kitap">
            </div>
            <div class="form-group">
            <label for="formGroupExampleInput2">Yazar</label>
            <input type="text" name="yazarAdi" class="form-control" id="formGroupExampleInput2" placeholder="Yazar">
            </div>
              <div class="form-group">
            <label for="formGroupExampleInput3">Yayınevi</label>
            <input type="text" name="yayineviAdi" class="form-control" id="formGroupExampleInput3" placeholder="Yayinevi">
            </div>
             <button type="submit" class="btn btn-info" id="btn_ekle">Ekle</button>
          </form>
         <hr>
         <table class="table">
      <thead>
        <tr>
      <th scope="col">ID</th>
      <th scope="col">Yazarlar</th>
      <th scope="col">Kitaplar</th>
      <th scope="col">Yayınevi</th>
       </tr>
      </thead>
      <tbody>
        {% for i in tablo %}
             <tr>
                <th scope="row">{{ i.id }}</th>
                 <td>{{ i.kitapAdi }}</td>
                 <td>{{ i.yaazarAdi }}</td>
                 <td>{{ i.yayineviAdi }}</td>
                 <td><a href="/guncelle/{{ i.id }}" class="btn btn-info">Güncelle</a></td>
                 <td><a href="/sil/{{ i.id }}" id="sil_btn" class="btn btn-info " name="{{ i.id }}">Sil</a></td>
             </tr>


        {% endfor %}


  </tbody>
</table>
</table>
     </div>

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript" >
    $(document).ready(function() {
        $("#form_ekle").submit(function (event) {
            event.preventDefault()
            $.ajax({
                type: 'POST',
                url: 'ekle',

                data: {
                    kitapAdi: $('#formGroupExampleInput').val(),
                    yazarAdi: $('#formGroupExampleInput2').val(),
                    yayinevi: $('#formGroupExampleInput3').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    alert('Kaydedildi')
                }
            })

        })
    })
</script>


</body>
</html>

